# Data that I found, pls copy and repeat for all datasets

CSV name: [Name]

What the data describes: [Description]

Link to source: [Link]

In [1]:
import pandas as pd
import numpy as np

# Load the 100006 data file
df_100006 = pd.read_csv('/Users/johannessolibieda/Desktop/100006.csv', delimiter=';')

# Display the columns of the DataFrame to verify the structure
print(df_100006.columns)

Index(['ZST_NR', 'SiteCode', 'SiteName', 'DateTimeFrom', 'DateTimeTo',
       'DirectionName', 'LaneCode', 'LaneName', 'ValuesApproved',
       'ValuesEdited', 'TrafficType', 'Total', 'MR', 'PW', 'PW+', 'Lief',
       'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere',
       'Year', 'Month', 'Day', 'Weekday', 'HourFrom', 'Date', 'TimeFrom',
       'TimeTo', 'DayOfYear', 'Zst_id', 'Geo Point'],
      dtype='object')

In [2]:
# Group the DataFrame by 'SiteCode'
grouped = df_100006.groupby('SiteCode')

# Create a dictionary to store DataFrames for each SiteCode
dfs_by_sitecode = {site_code: group for site_code, group in grouped}

# Sum up all values from 'PW' to 'andere' column for the same time slot and the same direction if there are multiple lanes
for site_code, df in dfs_by_sitecode.items():
    df_grouped = df.groupby(['DateTimeFrom', 'DateTimeTo', 'DirectionName']).agg({
        'PW': 'sum',
        'PW+': 'sum',
        'Lief': 'sum',
        'Lief+': 'sum',
        'Lief+Aufl.': 'sum',
        'LW': 'sum',
        'LW+': 'sum',
        'Sattelzug': 'sum',
        'Bus': 'sum',
        'andere': 'sum'
    }).reset_index()
    dfs_by_sitecode[site_code] = df_grouped

# Display the head of each DataFrame in the dictionary
for site_code, df in dfs_by_sitecode.items():
        print(f"SiteCode: {site_code}")
        display(df.head())

SiteCode: 235

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,nach Frankreich,114,0,4,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,von Frankreich,75,0,4,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,nach Frankreich,140,1,2,0,0,0,0,0,2,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,von Frankreich,91,0,1,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,nach Frankreich,123,0,1,0,0,0,0,0,2,0

SiteCode: 350

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,nach Kleinbasel,241,0,5,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,von Kleinbasel,169,0,14,1,0,2,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,nach Kleinbasel,218,0,4,0,0,1,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,von Kleinbasel,202,0,24,0,0,3,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,nach Kleinbasel,157,0,6,0,0,0,0,0,0,0

SiteCode: 352

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,nach Kleinbasel (1 FS mit ÖV),206,0,9,0,0,4,0,0,3,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,von Kleinbasel (1 FS mit ÖV),168,0,9,0,0,2,0,0,2,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,nach Kleinbasel (1 FS mit ÖV),182,0,8,0,0,1,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,von Kleinbasel (1 FS mit ÖV),159,0,5,0,0,1,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,nach Kleinbasel (1 FS mit ÖV),158,0,5,0,0,1,0,0,0,0

SiteCode: 354

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Kleinbasel,193,0,6,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Kleinbasel,267,0,8,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Kleinbasel,185,0,8,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Kleinbasel,254,0,6,0,0,1,0,0,1,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Kleinbasel,153,0,4,0,0,0,0,0,0,0

SiteCode: 401

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 Flughafenstrasse,47,0,3,0,0,0,0,0,0,0
1,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 Flughafenstrasse,68,0,6,0,0,0,0,0,0,0
2,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,2 Flughafenstrasse,40,0,3,0,0,0,0,0,0,0
3,2022-01-01T03:00:00+01:00,2022-01-01T04:00:00+01:00,2 Flughafenstrasse,44,0,0,0,0,0,0,0,0,0
4,2022-01-01T04:00:00+01:00,2022-01-01T05:00:00+01:00,2 Flughafenstrasse,26,0,2,0,0,0,0,0,0,0

SiteCode: 402

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Rhein (1FS mit ÖV-Bus),115,0,3,0,0,0,0,0,6,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Rhein (1FS mit ÖV-Bus),120,0,2,0,0,0,0,0,4,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Rhein (1FS mit ÖV-Bus),156,0,1,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Rhein (1FS mit ÖV-Bus),173,0,7,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Rhein (1FS mit ÖV-Bus),132,0,5,1,0,0,0,0,0,0

SiteCode: 403

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,"1 nach Bahnhof SBB (1=R, 2=Ü)",207,0,7,0,0,2,0,0,2,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,"2 von Bahnhof SBB (1=R, 2=Ü)",115,0,2,0,0,1,0,0,1,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,"1 nach Bahnhof SBB (1=R, 2=Ü)",270,0,7,0,0,3,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,"2 von Bahnhof SBB (1=R, 2=Ü)",185,0,1,0,0,3,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,"1 nach Bahnhof SBB (1=R, 2=Ü)",175,0,2,0,0,0,0,0,0,0

SiteCode: 404

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Bahnhof SBB (1 FS mit ÖV-Bus),132,0,1,0,0,0,0,0,4,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Bahnhof SBB (1 FS mit ÖV-Bus),61,0,2,0,0,0,0,0,1,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Bahnhof SBB (1 FS mit ÖV-Bus),162,0,9,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Bahnhof SBB (1 FS mit ÖV-Bus),118,0,1,0,0,0,0,0,1,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Bahnhof SBB (1 FS mit ÖV-Bus),124,0,3,0,0,1,0,0,0,0

SiteCode: 405

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Bahnhof SBB (ohne ÖV-Bus),132,0,5,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Bahnhof SBB (ohne ÖV-Bus),145,0,6,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Bahnhof SBB (ohne ÖV-Bus),193,0,4,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Bahnhof SBB (ohne ÖV-Bus),189,0,5,0,0,0,0,0,1,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Bahnhof SBB (ohne ÖV-Bus),143,0,2,0,0,1,0,0,0,0

SiteCode: 406

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Neubad (1 FS mit ÖV-Bus),90,0,3,0,0,0,0,0,4,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Neubad (1 FS mit ÖV-Bus),129,0,3,0,0,0,0,0,4,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Neubad (1 FS mit ÖV-Bus),177,0,4,0,0,0,0,0,2,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Neubad (1 FS mit ÖV-Bus),196,0,3,0,0,0,0,0,4,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Neubad (1 FS mit ÖV-Bus),141,0,2,0,0,0,0,0,0,0

SiteCode: 407

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),97,0,1,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Basel (1 FS mit ÖV-Bus),91,1,1,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),140,0,4,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Basel (1 FS mit ÖV-Bus),131,0,3,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),106,0,2,0,0,0,0,0,0,0

SiteCode: 408

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),64,0,1,0,0,0,0,0,1,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Basel (1 FS mit ÖV-Bus),64,0,0,0,0,0,0,0,4,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),68,0,1,0,0,0,0,0,1,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Basel (1 FS mit ÖV-Bus),83,0,1,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),52,0,1,0,0,0,0,0,1,0

SiteCode: 409

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),160,0,7,0,0,0,0,0,2,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Riehen (1 FS mit ÖV-Bus),146,0,8,0,0,0,0,0,1,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),121,0,4,0,0,0,0,0,1,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Riehen (1 FS mit ÖV-Bus),110,0,2,0,0,0,0,0,1,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Riehen (1 FS mit ÖV-Bus),75,0,3,0,0,0,0,0,1,0

SiteCode: 410

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Bahnhof SBB,86,0,0,0,0,0,0,0,1,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Bahnhof SBB,60,0,3,0,0,1,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Bahnhof SBB,121,0,6,0,0,0,0,0,1,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Bahnhof SBB,71,0,1,0,0,1,0,0,1,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Bahnhof SBB,101,0,3,0,0,0,0,0,1,0

SiteCode: 411

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,"1 nach Riehen (1=rechte S, 2=Unterführung mit ...",53,0,0,0,0,0,0,0,3,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,"2 von Riehen (1=rechte S mit ÖV-Bus, 2=Unterfü...",37,1,0,0,0,0,0,0,2,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,"1 nach Riehen (1=rechte S, 2=Unterführung mit ...",79,0,4,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,"2 von Riehen (1=rechte S mit ÖV-Bus, 2=Unterfü...",58,0,2,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,"1 nach Riehen (1=rechte S, 2=Unterführung mit ...",52,0,2,0,0,0,0,0,0,0

SiteCode: 412

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,"von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus)",89,0,3,0,0,0,0,0,4,0
1,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,"von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus)",99,0,5,0,0,0,0,0,2,0
2,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,"von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus)",95,0,1,0,0,0,0,0,0,0
3,2022-01-01T03:00:00+01:00,2022-01-01T04:00:00+01:00,"von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus)",58,0,5,0,0,0,0,0,0,0
4,2022-01-01T04:00:00+01:00,2022-01-01T05:00:00+01:00,"von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus)",51,0,6,0,0,0,0,0,0,0

SiteCode: 413

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,"nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus)",82,0,3,0,0,0,0,0,4,0
1,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,"nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus)",124,0,2,0,0,0,0,0,3,0
2,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,"nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus)",90,0,0,0,0,1,0,0,0,0
3,2022-01-01T03:00:00+01:00,2022-01-01T04:00:00+01:00,"nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus)",81,0,3,0,0,0,0,0,0,0
4,2022-01-01T04:00:00+01:00,2022-01-01T05:00:00+01:00,"nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus)",37,0,4,0,0,0,0,0,0,0

SiteCode: 415

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Bahnhof SBB (1+2 FS),353,0,3,0,0,0,0,0,4,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Bahnhof SBB,163,0,9,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Bahnhof SBB (1+2 FS),457,0,12,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Bahnhof SBB,269,0,8,0,0,0,0,0,2,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Bahnhof SBB (1+2 FS),314,0,3,0,0,0,0,0,1,0

SiteCode: 416

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,von Gundeldingen (1 FS),53,0,1,0,0,0,0,0,0,0
1,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,von Gundeldingen (1 FS),65,0,1,0,0,0,0,0,0,0
2,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,von Gundeldingen (1 FS),63,0,2,0,0,0,0,0,0,0
3,2022-01-01T03:00:00+01:00,2022-01-01T04:00:00+01:00,von Gundeldingen (1 FS),40,0,0,0,0,0,0,0,0,0
4,2022-01-01T04:00:00+01:00,2022-01-01T05:00:00+01:00,von Gundeldingen (1 FS),39,0,1,0,0,0,0,0,0,0

SiteCode: 417

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,nach Bahnhof SBB (1FS mit ÖV-Bus),30,0,0,0,0,0,0,2,0,0
1,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,nach Bahnhof SBB (1FS mit ÖV-Bus),46,0,2,0,0,0,0,0,0,0
2,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,nach Bahnhof SBB (1FS mit ÖV-Bus),24,0,1,0,0,0,0,0,0,0
3,2022-01-01T03:00:00+01:00,2022-01-01T04:00:00+01:00,nach Bahnhof SBB (1FS mit ÖV-Bus),13,0,1,0,0,0,0,0,0,0
4,2022-01-01T04:00:00+01:00,2022-01-01T05:00:00+01:00,nach Bahnhof SBB (1FS mit ÖV-Bus),8,0,0,0,0,0,0,0,0,0

SiteCode: 419

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Feldbergstrasse (1 FS bei Tramhaltestelle),114,0,7,0,0,1,0,0,1,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Feldbergstrasse (1 FS bei Tramhaltestelle),133,0,6,0,0,2,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Feldbergstrasse (1 FS bei Tramhaltestelle),123,0,3,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Feldbergstrasse (1 FS bei Tramhaltestelle),146,0,6,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Feldbergstrasse (1 FS bei Tramhaltestelle),89,0,1,0,0,0,0,0,0,0

SiteCode: 420

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Grosspeter,309,0,9,0,0,0,4,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Grosspeter,241,0,5,0,0,2,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Grosspeter,426,0,10,0,0,2,0,0,0,1
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Grosspeter,374,0,10,0,1,0,0,0,1,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Grosspeter,298,0,4,0,0,0,0,0,1,0

SiteCode: 651

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Kannenfeldplatz,32,0,0,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Kannenfeldplatz,25,0,0,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Kannenfeldplatz,43,0,0,0,0,0,0,0,1,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Kannenfeldplatz,30,0,0,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Kannenfeldplatz,32,0,1,0,0,0,0,0,1,0

SiteCode: 653

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Frankreich (1 FS mit ÖV-Bus),36,0,1,0,0,0,0,0,5,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Frankreich (1 FS mit ÖV-Bus),44,0,0,0,0,0,0,0,5,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Frankreich (1 FS mit ÖV-Bus),62,0,2,0,0,0,0,0,4,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Frankreich (1 FS mit ÖV-Bus),60,0,2,0,0,0,0,0,3,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Frankreich (1 FS mit ÖV-Bus),43,0,1,0,0,0,0,0,1,0

SiteCode: 656

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Frankreich,66,0,0,0,0,0,0,0,0,0
1,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Frankreich,47,0,2,0,0,0,0,0,0,0
2,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Frankreich,35,0,2,0,0,0,0,0,0,0
3,2022-01-01T03:00:00+01:00,2022-01-01T04:00:00+01:00,1 von Frankreich,34,0,1,0,0,0,0,0,0,0
4,2022-01-01T04:00:00+01:00,2022-01-01T05:00:00+01:00,1 von Frankreich,19,0,0,0,0,0,0,0,0,0

SiteCode: 659

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Autobahnz. F,21,0,0,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Autobahnz. F,29,0,0,0,0,0,0,0,0,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Autobahnz. F,34,0,1,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Autobahnz. F,38,0,1,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Autobahnz. F,30,0,0,0,0,0,0,0,0,0

SiteCode: 660

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 von Flughafen (1 FS mit ÖV-Bus),12,0,1,0,0,0,0,0,2,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 nach Flughafen (1 FS mit ÖV-Bus),5,0,0,0,0,0,0,0,1,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 von Flughafen (1 FS mit ÖV-Bus),5,0,0,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 nach Flughafen (1 FS mit ÖV-Bus),3,0,0,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 von Flughafen (1 FS mit ÖV-Bus),1,0,0,0,0,0,0,0,0,0

SiteCode: 672

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-07-07T00:00:00+02:00,2022-07-07T01:00:00+02:00,1 von Deutschland,0,0,0,0,0,0,0,0,0,0
1,2022-07-07T00:00:00+02:00,2022-07-07T01:00:00+02:00,2 nach Deutschland,0,0,0,0,0,0,0,0,0,0
2,2022-07-07T01:00:00+02:00,2022-07-07T02:00:00+02:00,1 von Deutschland,0,0,0,0,0,0,0,0,0,0
3,2022-07-07T01:00:00+02:00,2022-07-07T02:00:00+02:00,2 nach Deutschland,0,0,0,0,0,0,0,0,0,0
4,2022-07-07T02:00:00+02:00,2022-07-07T03:00:00+02:00,1 von Deutschland,0,0,0,0,0,0,0,0,0,0

SiteCode: 84111101

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Deutschland,0,0,0,80,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Deutschland,0,0,0,62,0,0,0,0,0,2
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Deutschland,0,0,0,63,0,0,0,0,0,3
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Deutschland,0,0,0,68,0,0,0,0,0,1
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Deutschland,0,0,0,49,0,0,0,0,0,1

SiteCode: 84111104

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Deutschland,73,0,1,0,73,0,0,1,0,3
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Deutschland,0,0,0,0,52,0,0,0,0,3
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Deutschland,74,0,1,0,74,0,0,0,0,4
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Deutschland,0,0,1,0,54,0,0,0,0,4
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Deutschland,55,0,0,1,55,0,1,0,0,2

SiteCode: 84111106

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-07-13T00:00:00+02:00,2022-07-13T01:00:00+02:00,1 nach Deutschland (1 FS mit ÖV-Bus),49,0,1,0,0,0,0,0,0,0
1,2022-07-13T00:00:00+02:00,2022-07-13T01:00:00+02:00,2 von Deutschland (1 FS mit ÖV-Bus),39,0,2,0,0,1,0,0,0,0
2,2022-07-13T01:00:00+02:00,2022-07-13T02:00:00+02:00,1 nach Deutschland (1 FS mit ÖV-Bus),19,0,3,0,0,0,0,0,0,0
3,2022-07-13T01:00:00+02:00,2022-07-13T02:00:00+02:00,2 von Deutschland (1 FS mit ÖV-Bus),27,0,2,0,0,0,0,0,0,0
4,2022-07-13T02:00:00+02:00,2022-07-13T03:00:00+02:00,1 nach Deutschland (1 FS mit ÖV-Bus),10,0,1,0,0,0,0,0,0,0

SiteCode: 84111108

,DateTimeFrom,DateTimeTo,DirectionName,PW,PW+,Lief,Lief+,Lief+Aufl.,LW,LW+,Sattelzug,Bus,andere
0,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,1 nach Deutschland,42,0,2,0,0,0,0,0,0,0
1,2022-01-01T00:00:00+01:00,2022-01-01T01:00:00+01:00,2 von Deutschland,30,0,1,0,0,0,0,0,1,0
2,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,1 nach Deutschland,65,0,2,0,0,0,0,0,0,0
3,2022-01-01T01:00:00+01:00,2022-01-01T02:00:00+01:00,2 von Deutschland,64,0,3,0,0,0,0,0,0,0
4,2022-01-01T02:00:00+01:00,2022-01-01T03:00:00+01:00,1 nach Deutschland,35,0,0,0,0,0,0,0,0,0

In [3]:
# Check for missing values in each DataFrame in the dictionary
for site_code, df in dfs_by_sitecode.items():
    missing_values = df.isnull().sum()
    print(f"SiteCode: {site_code}")
    print(missing_values)
    print("\n")

SiteCode: 235
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 350
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 352
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 354
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 401
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 402
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 403
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 404
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 405
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 406
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 407
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 408
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 409
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 410
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 411
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 412
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 413
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 415
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 416
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 417
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 419
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 420
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 651
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 653
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 656
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 659
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 660
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 672
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 84111101
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 84111104
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 84111106
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64


SiteCode: 84111108
DateTimeFrom     0
DateTimeTo       0
DirectionName    0
PW               0
PW+              0
Lief             0
Lief+            0
Lief+Aufl.       0
LW               0
LW+              0
Sattelzug        0
Bus              0
andere           0
dtype: int64

In [4]:
# Display the column names of each DataFrame in the dfs_by_sitecode dictionary
for site_code, df in dfs_by_sitecode.items():
    print(f"SiteCode: {site_code}, Columns: {df.columns.tolist()}")

SiteCode: 235, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 350, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 401, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 404, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 407, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 408, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 412, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 413, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 416, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 417, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 651, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 656, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 672, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111101, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']

In [5]:
# Check if all DataFrames have the whole timespan filled
for site_code, df in dfs_by_sitecode.items():
    df['DateTimeFrom'] = pd.to_datetime(df['DateTimeFrom'], utc=True)
    df['DateTimeTo'] = pd.to_datetime(df['DateTimeTo'], utc=True)
    full_timespan = pd.date_range(start=df['DateTimeFrom'].min(), end=df['DateTimeTo'].max(), freq='h', tz='UTC')
    missing_times = full_timespan.difference(df['DateTimeFrom'])
    print(f"SiteCode: {site_code}")
    if missing_times.empty:
        print("All timeslots are filled.")
    else:
        print(f"Missing timeslots: {missing_times}")
    print(f"Number of missing timeslots: {len(missing_times)}")
    print("\n")

SiteCode: 235
Missing timeslots: DatetimeIndex(['2022-02-28 23:00:00+00:00', '2022-03-01 00:00:00+00:00',
               '2022-03-01 01:00:00+00:00', '2022-03-01 02:00:00+00:00',
               '2022-03-01 03:00:00+00:00', '2022-03-01 04:00:00+00:00',
               '2022-03-01 05:00:00+00:00', '2022-03-01 06:00:00+00:00',
               '2022-03-01 07:00:00+00:00', '2022-03-01 08:00:00+00:00',
               ...
               '2022-06-30 16:00:00+00:00', '2022-06-30 17:00:00+00:00',
               '2022-06-30 18:00:00+00:00', '2022-06-30 19:00:00+00:00',
               '2022-06-30 20:00:00+00:00', '2022-06-30 21:00:00+00:00',
               '2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=2931, freq=None)
Number of missing timeslots: 2931


SiteCode: 350
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 352
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 354
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 401
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2023-11-03 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 3


SiteCode: 402
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-14 23:00:00+00:00',
               '2024-11-15 00:00:00+00:00', '2024-11-15 01:00:00+00:00',
               '2024-11-15 02:00:00+00:00', '2024-11-15 03:00:00+00:00',
               '2024-11-15 04:00:00+00:00', '2024-11-15 05:00:00+00:00',
               '2024-11-15 06:00:00+00:00', '2024-11-15 07:00:00+00:00',
               '2024-11-15 08:00:00+00:00', '2024-11-15 09:00:00+00:00',
               '2024-11-15 10:00:00+00:00', '2024-11-15 11:00:00+00:00',
               '2024-11-15 12:00:00+00:00', '2024-11-15 13:00:00+00:00',
               '2024-11-15 14:00:00+00:00', '2024-11-15 15:00:00+00:00',
               '2024-11-15 16:00:00+00:00', '2024-11-15 17:00:00+00:00',
               '2024-11-15 18:00:00+00:00', '2024-11-15 19:00:00+00:00',
               '2024-11-15 20:00:00+00:00', '2024-11-15 21:00:00+00:00',
               '2024-11-15 22:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 28


SiteCode: 403
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 404
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-03-17 23:00:00+00:00',
               '2023-03-18 00:00:00+00:00', '2023-03-18 01:00:00+00:00',
               '2023-03-18 02:00:00+00:00', '2023-03-18 03:00:00+00:00',
               '2023-03-18 04:00:00+00:00', '2023-03-18 05:00:00+00:00',
               '2023-03-18 06:00:00+00:00', '2023-03-18 07:00:00+00:00',
               ...
               '2023-06-26 14:00:00+00:00', '2023-06-26 15:00:00+00:00',
               '2023-06-26 16:00:00+00:00', '2023-06-26 17:00:00+00:00',
               '2023-06-26 18:00:00+00:00', '2023-06-26 19:00:00+00:00',
               '2023-06-26 20:00:00+00:00', '2023-06-26 21:00:00+00:00',
               '2023-10-29 00:00:00+00:00', '2023-10-31 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=2426, freq=None)
Number of missing timeslots: 2426


SiteCode: 405
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 406
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 407
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 408
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-01-30 23:00:00+00:00', '2024-01-31 00:00:00+00:00',
               '2024-01-31 01:00:00+00:00', '2024-01-31 02:00:00+00:00',
               '2024-01-31 03:00:00+00:00', '2024-01-31 04:00:00+00:00',
               '2024-01-31 05:00:00+00:00', '2024-01-31 06:00:00+00:00',
               ...
               '2024-02-10 15:00:00+00:00', '2024-02-10 16:00:00+00:00',
               '2024-02-10 17:00:00+00:00', '2024-02-10 18:00:00+00:00',
               '2024-02-10 19:00:00+00:00', '2024-02-10 20:00:00+00:00',
               '2024-02-10 21:00:00+00:00', '2024-02-10 22:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=268, freq=None)
Number of missing timeslots: 268


SiteCode: 409
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-20 22:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 3


SiteCode: 410
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 411
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 412
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 413
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 415
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 416
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-02-29 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 3


SiteCode: 417
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 419
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 420
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 651
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-04-30 22:00:00+00:00', '2024-04-30 23:00:00+00:00',
               '2024-05-01 00:00:00+00:00', '2024-05-01 01:00:00+00:00',
               '2024-05-01 02:00:00+00:00', '2024-05-01 03:00:00+00:00',
               '2024-05-01 04:00:00+00:00', '2024-05-01 05:00:00+00:00',
               ...
               '2024-08-29 14:00:00+00:00', '2024-08-29 15:00:00+00:00',
               '2024-08-29 16:00:00+00:00', '2024-08-29 17:00:00+00:00',
               '2024-08-29 18:00:00+00:00', '2024-08-29 19:00:00+00:00',
               '2024-08-29 20:00:00+00:00', '2024-08-29 21:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=2908, freq=None)
Number of missing timeslots: 2908


SiteCode: 653
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 656
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 659
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 660
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 672
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-09-14 22:00:00+00:00',
               '2023-09-14 23:00:00+00:00', '2023-09-15 00:00:00+00:00',
               '2023-09-15 01:00:00+00:00', '2023-09-15 02:00:00+00:00',
               '2023-09-15 03:00:00+00:00', '2023-09-15 04:00:00+00:00',
               '2023-09-15 05:00:00+00:00', '2023-09-15 06:00:00+00:00',
               ...
               '2024-02-20 15:00:00+00:00', '2024-02-20 16:00:00+00:00',
               '2024-02-20 17:00:00+00:00', '2024-02-20 18:00:00+00:00',
               '2024-02-20 19:00:00+00:00', '2024-02-20 20:00:00+00:00',
               '2024-02-20 21:00:00+00:00', '2024-02-20 22:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=3820, freq=None)
Number of missing timeslots: 3820


SiteCode: 84111101
Missing timeslots: DatetimeIndex(['2022-07-28 22:00:00+00:00', '2022-07-28 23:00:00+00:00',
               '2022-07-29 00:00:00+00:00', '2022-07-29 01:00:00+00:00',
               '2022-07-29 02:00:00+00:00', '2022-07-29 03:00:00+00:00',
               '2022-07-29 04:00:00+00:00', '2022-07-29 05:00:00+00:00',
               '2022-07-29 06:00:00+00:00', '2022-07-29 07:00:00+00:00',
               ...
               '2023-02-16 16:00:00+00:00', '2023-02-16 17:00:00+00:00',
               '2023-02-16 18:00:00+00:00', '2023-02-16 19:00:00+00:00',
               '2023-02-16 20:00:00+00:00', '2023-02-16 21:00:00+00:00',
               '2023-02-16 22:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=4876, freq=None)
Number of missing timeslots: 4876


SiteCode: 84111104
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 84111106
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4


SiteCode: 84111108
Missing timeslots: DatetimeIndex(['2022-10-30 00:00:00+00:00', '2023-10-29 00:00:00+00:00',
               '2024-10-27 00:00:00+00:00', '2024-11-19 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
Number of missing timeslots: 4

In [6]:
# Display the column names of each DataFrame in the dfs_by_sitecode dictionary
for site_code, df in dfs_by_sitecode.items():
    print(f"SiteCode: {site_code}, Columns: {df.columns.tolist()}")

SiteCode: 235, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 350, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 401, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 404, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 407, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 408, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 412, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 413, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 416, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 417, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 651, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 656, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 672, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111101, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']

In [7]:
# List of site codes to drop
site_codes_to_drop = [235, 404, 651, 672, 84111101]

# Drop the specified site codes from the dictionary
for site_code in site_codes_to_drop:
    if site_code in dfs_by_sitecode:
        del dfs_by_sitecode[site_code]

# Display the remaining keys in the dictionary to verify
print(dfs_by_sitecode.keys())
print(len(dfs_by_sitecode)) # 5

dict_keys([350, 352, 354, 401, 402, 403, 405, 406, 407, 408, 409, 410, 411, 412, 413, 415, 416, 417, 419, 420, 653, 656, 659, 660, 84111104, 84111106, 84111108])
27

In [8]:
# Display the column names of each DataFrame in the dfs_by_sitecode dictionary
for site_code, df in dfs_by_sitecode.items():
    print(f"SiteCode: {site_code}, Columns: {df.columns.tolist()}")

SiteCode: 350, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 401, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 407, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 408, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 412, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 413, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 416, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 417, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 656, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']

In [9]:
# Get the length of each DataFrame in the dictionary
lengths = {site_code: len(df) for site_code, df in dfs_by_sitecode.items()}

# Split DataFrames according to DirectionName
dfs_by_direction = {}
for site_code, df in dfs_by_sitecode.items():
    directions = df['DirectionName'].unique()
    for direction in directions:
        direction_df = df[df['DirectionName'] == direction]
        if site_code not in dfs_by_direction:
            dfs_by_direction[site_code] = {}
        dfs_by_direction[site_code][direction] = direction_df

# Display the keys of the new dictionary to verify
for site_code, directions in dfs_by_direction.items():
    print(f"SiteCode: {site_code}, Directions: {list(directions.keys())}")

SiteCode: 350, Directions: ['nach Kleinbasel', 'von Kleinbasel']
SiteCode: 352, Directions: ['nach Kleinbasel (1 FS mit ÖV)', 'von Kleinbasel (1 FS mit ÖV)']
SiteCode: 354, Directions: ['1 nach Kleinbasel', '2 von Kleinbasel']
SiteCode: 401, Directions: ['2 Flughafenstrasse']
SiteCode: 402, Directions: ['1 von Rhein (1FS mit ÖV-Bus)', '2 nach Rhein (1FS mit ÖV-Bus)']
SiteCode: 403, Directions: ['1 nach Bahnhof SBB (1=R, 2=Ü)', '2 von Bahnhof SBB (1=R, 2=Ü)']
SiteCode: 405, Directions: ['1 nach Bahnhof SBB (ohne ÖV-Bus)', '2 von Bahnhof SBB (ohne ÖV-Bus)']
SiteCode: 406, Directions: ['1 nach Neubad (1 FS mit ÖV-Bus)', '2 von Neubad (1 FS mit ÖV-Bus)']
SiteCode: 407, Directions: ['1 nach Riehen (1 FS mit ÖV-Bus)', '2 nach Basel (1 FS mit ÖV-Bus)']
SiteCode: 408, Directions: ['1 nach Riehen (1 FS mit ÖV-Bus)', '2 nach Basel (1 FS mit ÖV-Bus)']
SiteCode: 409, Directions: ['1 nach Riehen (1 FS mit ÖV-Bus)', '2 von Riehen (1 FS mit ÖV-Bus)']
SiteCode: 410, Directions: ['1 von Bahnhof SBB', '2 nach Bahnhof SBB']
SiteCode: 411, Directions: ['1 nach Riehen (1=rechte S, 2=Unterführung mit ÖV-Bus)', '2 von Riehen (1=rechte S mit ÖV-Bus, 2=Unterführung)']
SiteCode: 412, Directions: ['von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus)']
SiteCode: 413, Directions: ['nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus)']
SiteCode: 415, Directions: ['1 von Bahnhof SBB  (1+2 FS)', '2 nach Bahnhof SBB']
SiteCode: 416, Directions: ['von Gundeldingen (1 FS)']
SiteCode: 417, Directions: ['nach Bahnhof SBB (1FS mit ÖV-Bus)']
SiteCode: 419, Directions: ['1 von Feldbergstrasse (1 FS bei Tramhaltestelle)', '2 nach Feldbergstrasse (1 FS bei Tramhaltestelle)']
SiteCode: 420, Directions: ['1 nach Grosspeter', '2 von Grosspeter']
SiteCode: 653, Directions: ['1 von Frankreich (1 FS mit ÖV-Bus)', '2 nach Frankreich (1 FS mit ÖV-Bus)']
SiteCode: 656, Directions: ['1 von Frankreich']
SiteCode: 659, Directions: ['1 von Autobahnz. F', '2 nach Autobahnz. F']
SiteCode: 660, Directions: ['1 von Flughafen (1 FS mit ÖV-Bus)', '2 nach Flughafen (1 FS mit ÖV-Bus)']
SiteCode: 84111104, Directions: ['1 nach Deutschland', '2 von Deutschland']
SiteCode: 84111106, Directions: ['1 nach Deutschland (1 FS mit ÖV-Bus)', '2 von Deutschland (1 FS mit ÖV-Bus)']
SiteCode: 84111108, Directions: ['1 nach Deutschland', '2 von Deutschland']

In [10]:
# Display the column names of each DataFrame in the dfs_by_direction dictionary
for site_code, directions in dfs_by_direction.items():
    for direction, df in directions.items():
        print(f"SiteCode: {site_code}, Direction: {direction}, Columns: {df.columns.tolist()}")

SiteCode: 350, Direction: nach Kleinbasel, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 350, Direction: von Kleinbasel, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352, Direction: nach Kleinbasel (1 FS mit ÖV), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352, Direction: von Kleinbasel (1 FS mit ÖV), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354, Direction: 1 nach Kleinbasel, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354, Direction: 2 von Kleinbasel, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 401, Direction: 2 Flughafenstrasse, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402, Direction: 1 von Rhein (1FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402, Direction: 2 nach Rhein (1FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403, Direction: 1 nach Bahnhof SBB (1=R, 2=Ü), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403, Direction: 2 von Bahnhof SBB (1=R, 2=Ü), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405, Direction: 1 nach Bahnhof SBB (ohne ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405, Direction: 2 von Bahnhof SBB (ohne ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406, Direction: 1 nach Neubad (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406, Direction: 2 von Neubad (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 407, Direction: 1 nach Riehen (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 407, Direction: 2 nach Basel (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 408, Direction: 1 nach Riehen (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 408, Direction: 2 nach Basel (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409, Direction: 1 nach Riehen (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409, Direction: 2 von Riehen (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410, Direction: 1 von Bahnhof SBB, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410, Direction: 2 nach Bahnhof SBB, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411, Direction: 1 nach Riehen (1=rechte S, 2=Unterführung mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411, Direction: 2 von Riehen (1=rechte S mit ÖV-Bus, 2=Unterführung), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 412, Direction: von Dreispitz (1+2 FS, 1=rechte FS mit öV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 413, Direction: nach Dreispitz (1+2 FS, 1=rechte FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415, Direction: 1 von Bahnhof SBB  (1+2 FS), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415, Direction: 2 nach Bahnhof SBB, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 416, Direction: von Gundeldingen (1 FS), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 417, Direction: nach Bahnhof SBB (1FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419, Direction: 1 von Feldbergstrasse (1 FS bei Tramhaltestelle), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419, Direction: 2 nach Feldbergstrasse (1 FS bei Tramhaltestelle), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420, Direction: 1 nach Grosspeter, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420, Direction: 2 von Grosspeter, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653, Direction: 1 von Frankreich (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653, Direction: 2 nach Frankreich (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 656, Direction: 1 von Frankreich, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659, Direction: 1 von Autobahnz. F, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659, Direction: 2 nach Autobahnz. F, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660, Direction: 1 von Flughafen (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660, Direction: 2 nach Flughafen (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104, Direction: 1 nach Deutschland, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104, Direction: 2 von Deutschland, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106, Direction: 1 nach Deutschland (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106, Direction: 2 von Deutschland (1 FS mit ÖV-Bus), Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108, Direction: 1 nach Deutschland, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108, Direction: 2 von Deutschland, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']

In [11]:
# Create a new dictionary with updated keys
updated_dfs_by_direction = {}
for site_code, directions in dfs_by_direction.items():
    for direction, df in directions.items():
        direction_key = 'n' if 'nach' in direction else 'v'
        new_key = f"{site_code}{direction_key}"
        updated_dfs_by_direction[new_key] = df

# Display the keys of the new dictionary to verify
print(updated_dfs_by_direction.keys())

# Display the column names of each DataFrame in the dfs_by_sitecode dictionary
for site_code, df in updated_dfs_by_direction.items():
    print(f"SiteCode: {site_code}, Columns: {df.columns.tolist()}")

dict_keys(['350n', '350v', '352n', '352v', '354n', '354v', '401v', '402v', '402n', '403n', '403v', '405n', '405v', '406n', '406v', '407n', '408n', '409n', '409v', '410v', '410n', '411n', '411v', '412v', '413n', '415v', '415n', '416v', '417n', '419v', '419n', '420n', '420v', '653v', '653n', '656v', '659v', '659n', '660v', '660n', '84111104n', '84111104v', '84111106n', '84111106v', '84111108n', '84111108v'])
SiteCode: 350n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 350v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 352v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 354v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 401v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 402n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 403v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 405v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 406v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 407n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 408n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 409v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 410n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 411v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 412v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 413n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 415n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 416v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 417n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 419n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 420v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 653n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 656v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 659n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 660n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111104v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111106v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108n, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']
SiteCode: 84111108v, Columns: ['DateTimeFrom', 'DateTimeTo', 'DirectionName', 'PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']

In [12]:
# Display the length of each DataFrame in the updated_dfs_by_direction dictionary
for site_code, df in updated_dfs_by_direction.items():
    print(f"SiteCode: {site_code}, Length: {len(df)}")

SiteCode: 350n, Length: 25296
SiteCode: 350v, Length: 25296
SiteCode: 352n, Length: 25296
SiteCode: 352v, Length: 23016
SiteCode: 354n, Length: 25296
SiteCode: 354v, Length: 25296
SiteCode: 401v, Length: 16128
SiteCode: 402v, Length: 25272
SiteCode: 402n, Length: 25272
SiteCode: 403n, Length: 25296
SiteCode: 403v, Length: 25296
SiteCode: 405n, Length: 25296
SiteCode: 405v, Length: 25296
SiteCode: 406n, Length: 25296
SiteCode: 406v, Length: 25296
SiteCode: 407n, Length: 25296
SiteCode: 408n, Length: 25032
SiteCode: 409n, Length: 24576
SiteCode: 409v, Length: 24576
SiteCode: 410v, Length: 25296
SiteCode: 410n, Length: 25296
SiteCode: 411n, Length: 25296
SiteCode: 411v, Length: 25296
SiteCode: 412v, Length: 25296
SiteCode: 413n, Length: 25296
SiteCode: 415v, Length: 25296
SiteCode: 415n, Length: 25296
SiteCode: 416v, Length: 18960
SiteCode: 417n, Length: 25296
SiteCode: 419v, Length: 25296
SiteCode: 419n, Length: 25296
SiteCode: 420n, Length: 25296
SiteCode: 420v, Length: 25296
SiteCode: 653v, Length: 25296
SiteCode: 653n, Length: 25296
SiteCode: 656v, Length: 25296
SiteCode: 659v, Length: 25296
SiteCode: 659n, Length: 25296
SiteCode: 660v, Length: 25296
SiteCode: 660n, Length: 25296
SiteCode: 84111104n, Length: 25296
SiteCode: 84111104v, Length: 25296
SiteCode: 84111106n, Length: 20664
SiteCode: 84111106v, Length: 20664
SiteCode: 84111108n, Length: 25296
SiteCode: 84111108v, Length: 25296

In [13]:
# List of keys to drop
keys_to_drop = ['401v', '416v', '84111106v', '84111106n']

# Drop the specified keys from the dictionary
for key in keys_to_drop:
    if key in updated_dfs_by_direction:
        del updated_dfs_by_direction[key]

# Display the remaining keys in the dictionary to verify
print(updated_dfs_by_direction.keys())
print(len(updated_dfs_by_direction))

dict_keys(['350n', '350v', '352n', '352v', '354n', '354v', '402v', '402n', '403n', '403v', '405n', '405v', '406n', '406v', '407n', '408n', '409n', '409v', '410v', '410n', '411n', '411v', '412v', '413n', '415v', '415n', '417n', '419v', '419n', '420n', '420v', '653v', '653n', '656v', '659v', '659n', '660v', '660n', '84111104n', '84111104v', '84111108n', '84111108v'])
42

In [14]:
from pandas.tseries.frequencies import to_offset

# Function to fill missing time slots with mean values
def fill_missing_timeslots(df, full_timespan):
    # Remove duplicates based on DateTimeFrom
    df = df.drop_duplicates(subset='DateTimeFrom')
    
    # Set DateTimeFrom as the index
    df = df.set_index('DateTimeFrom')
    
    # Reindex the DataFrame to include the full timespan
    df = df.reindex(full_timespan)
    
    # Reset the index
    df = df.reset_index().rename(columns={'index': 'DateTimeFrom'})
    
    # Fill missing values with the mean of the same time on the same weekday
    df['Weekday'] = df['DateTimeFrom'].dt.weekday
    df['Hour'] = df['DateTimeFrom'].dt.hour
    for column in ['PW', 'PW+', 'Lief', 'Lief+', 'Lief+Aufl.', 'LW', 'LW+', 'Sattelzug', 'Bus', 'andere']:
        df[column] = df.groupby(['Weekday', 'Hour'])[column].transform(lambda x: x.fillna(x.mean()))
    
    # Drop the Weekday and Hour columns
    df = df.drop(columns=['Weekday', 'Hour'])
    
    return df

# Apply the function to each DataFrame in the updated_dfs_by_direction dictionary
for key, df in updated_dfs_by_direction.items():
    full_timespan = pd.date_range(start=df['DateTimeFrom'].min(), end=df['DateTimeFrom'].max(), freq='h', tz='UTC')
    updated_dfs_by_direction[key] = fill_missing_timeslots(df, full_timespan)

# Display the keys of the updated dictionary to verify
print(updated_dfs_by_direction.keys())

dict_keys(['350n', '350v', '352n', '352v', '354n', '354v', '402v', '402n', '403n', '403v', '405n', '405v', '406n', '406v', '407n', '408n', '409n', '409v', '410v', '410n', '411n', '411v', '412v', '413n', '415v', '415n', '417n', '419v', '419n', '420n', '420v', '653v', '653n', '656v', '659v', '659n', '660v', '660n', '84111104n', '84111104v', '84111108n', '84111108v'])

In [15]:
# Print the length of each DataFrame in the updated_dfs_by_direction dictionary
for key, df in updated_dfs_by_direction.items():
    print(f"Key: {key}, Length: {len(df)}")

Key: 350n, Length: 25296
Key: 350v, Length: 25296
Key: 352n, Length: 25296
Key: 352v, Length: 25296
Key: 354n, Length: 25296
Key: 354v, Length: 25296
Key: 402v, Length: 25296
Key: 402n, Length: 25296
Key: 403n, Length: 25296
Key: 403v, Length: 25296
Key: 405n, Length: 25296
Key: 405v, Length: 25296
Key: 406n, Length: 25296
Key: 406v, Length: 25296
Key: 407n, Length: 25296
Key: 408n, Length: 25296
Key: 409n, Length: 24575
Key: 409v, Length: 24575
Key: 410v, Length: 25296
Key: 410n, Length: 25296
Key: 411n, Length: 25296
Key: 411v, Length: 25296
Key: 412v, Length: 25296
Key: 413n, Length: 25296
Key: 415v, Length: 25296
Key: 415n, Length: 25296
Key: 417n, Length: 25296
Key: 419v, Length: 25296
Key: 419n, Length: 25296
Key: 420n, Length: 25296
Key: 420v, Length: 25296
Key: 653v, Length: 25296
Key: 653n, Length: 25296
Key: 656v, Length: 25296
Key: 659v, Length: 25296
Key: 659n, Length: 25296
Key: 660v, Length: 25296
Key: 660n, Length: 25296
Key: 84111104n, Length: 25296
Key: 84111104v, Length: 25296
Key: 84111108n, Length: 25296
Key: 84111108v, Length: 25296

In [16]:
# Display the size of each DataFrame in the updated_dfs_by_direction dictionary
for key, df in updated_dfs_by_direction.items():
    print(f"Key: {key}, Size: {df.size}, Number of Columns: {df.shape[1]}")

Key: 350n, Size: 328848, Number of Columns: 13
Key: 350v, Size: 328848, Number of Columns: 13
Key: 352n, Size: 328848, Number of Columns: 13
Key: 352v, Size: 328848, Number of Columns: 13
Key: 354n, Size: 328848, Number of Columns: 13
Key: 354v, Size: 328848, Number of Columns: 13
Key: 402v, Size: 328848, Number of Columns: 13
Key: 402n, Size: 328848, Number of Columns: 13
Key: 403n, Size: 328848, Number of Columns: 13
Key: 403v, Size: 328848, Number of Columns: 13
Key: 405n, Size: 328848, Number of Columns: 13
Key: 405v, Size: 328848, Number of Columns: 13
Key: 406n, Size: 328848, Number of Columns: 13
Key: 406v, Size: 328848, Number of Columns: 13
Key: 407n, Size: 328848, Number of Columns: 13
Key: 408n, Size: 328848, Number of Columns: 13
Key: 409n, Size: 319475, Number of Columns: 13
Key: 409v, Size: 319475, Number of Columns: 13
Key: 410v, Size: 328848, Number of Columns: 13
Key: 410n, Size: 328848, Number of Columns: 13
Key: 411n, Size: 328848, Number of Columns: 13
Key: 411v, Size: 328848, Number of Columns: 13
Key: 412v, Size: 328848, Number of Columns: 13
Key: 413n, Size: 328848, Number of Columns: 13
Key: 415v, Size: 328848, Number of Columns: 13
Key: 415n, Size: 328848, Number of Columns: 13
Key: 417n, Size: 328848, Number of Columns: 13
Key: 419v, Size: 328848, Number of Columns: 13
Key: 419n, Size: 328848, Number of Columns: 13
Key: 420n, Size: 328848, Number of Columns: 13
Key: 420v, Size: 328848, Number of Columns: 13
Key: 653v, Size: 328848, Number of Columns: 13
Key: 653n, Size: 328848, Number of Columns: 13
Key: 656v, Size: 328848, Number of Columns: 13
Key: 659v, Size: 328848, Number of Columns: 13
Key: 659n, Size: 328848, Number of Columns: 13
Key: 660v, Size: 328848, Number of Columns: 13
Key: 660n, Size: 328848, Number of Columns: 13
Key: 84111104n, Size: 328848, Number of Columns: 13
Key: 84111104v, Size: 328848, Number of Columns: 13
Key: 84111108n, Size: 328848, Number of Columns: 13
Key: 84111108v, Size: 328848, Number of Columns: 13

In [17]:
# Drop 'DateTimeTo' and 'DirectionName' columns from each DataFrame in the updated_dfs_by_direction dictionary
for key, df in updated_dfs_by_direction.items():
    columns_to_drop = [col for col in ['DateTimeTo', 'DirectionName'] if col in df.columns]
    updated_dfs_by_direction[key] = df.drop(columns=columns_to_drop)

# Rename all columns with the name of df + column name except the first column
for key, df in updated_dfs_by_direction.items():
    df.columns = [df.columns[0]] + [f"{key}{col}" for col in df.columns[1:]]

# Display the column names of each DataFrame to verify
for key, df in updated_dfs_by_direction.items():
    print(f"Key: {key}, Columns: {df.columns.tolist()}")

Key: 350n, Columns: ['DateTimeFrom', '350nPW', '350nPW+', '350nLief', '350nLief+', '350nLief+Aufl.', '350nLW', '350nLW+', '350nSattelzug', '350nBus', '350nandere']
Key: 350v, Columns: ['DateTimeFrom', '350vPW', '350vPW+', '350vLief', '350vLief+', '350vLief+Aufl.', '350vLW', '350vLW+', '350vSattelzug', '350vBus', '350vandere']
Key: 352n, Columns: ['DateTimeFrom', '352nPW', '352nPW+', '352nLief', '352nLief+', '352nLief+Aufl.', '352nLW', '352nLW+', '352nSattelzug', '352nBus', '352nandere']
Key: 352v, Columns: ['DateTimeFrom', '352vPW', '352vPW+', '352vLief', '352vLief+', '352vLief+Aufl.', '352vLW', '352vLW+', '352vSattelzug', '352vBus', '352vandere']
Key: 354n, Columns: ['DateTimeFrom', '354nPW', '354nPW+', '354nLief', '354nLief+', '354nLief+Aufl.', '354nLW', '354nLW+', '354nSattelzug', '354nBus', '354nandere']
Key: 354v, Columns: ['DateTimeFrom', '354vPW', '354vPW+', '354vLief', '354vLief+', '354vLief+Aufl.', '354vLW', '354vLW+', '354vSattelzug', '354vBus', '354vandere']
Key: 402v, Columns: ['DateTimeFrom', '402vPW', '402vPW+', '402vLief', '402vLief+', '402vLief+Aufl.', '402vLW', '402vLW+', '402vSattelzug', '402vBus', '402vandere']
Key: 402n, Columns: ['DateTimeFrom', '402nPW', '402nPW+', '402nLief', '402nLief+', '402nLief+Aufl.', '402nLW', '402nLW+', '402nSattelzug', '402nBus', '402nandere']
Key: 403n, Columns: ['DateTimeFrom', '403nPW', '403nPW+', '403nLief', '403nLief+', '403nLief+Aufl.', '403nLW', '403nLW+', '403nSattelzug', '403nBus', '403nandere']
Key: 403v, Columns: ['DateTimeFrom', '403vPW', '403vPW+', '403vLief', '403vLief+', '403vLief+Aufl.', '403vLW', '403vLW+', '403vSattelzug', '403vBus', '403vandere']
Key: 405n, Columns: ['DateTimeFrom', '405nPW', '405nPW+', '405nLief', '405nLief+', '405nLief+Aufl.', '405nLW', '405nLW+', '405nSattelzug', '405nBus', '405nandere']
Key: 405v, Columns: ['DateTimeFrom', '405vPW', '405vPW+', '405vLief', '405vLief+', '405vLief+Aufl.', '405vLW', '405vLW+', '405vSattelzug', '405vBus', '405vandere']
Key: 406n, Columns: ['DateTimeFrom', '406nPW', '406nPW+', '406nLief', '406nLief+', '406nLief+Aufl.', '406nLW', '406nLW+', '406nSattelzug', '406nBus', '406nandere']
Key: 406v, Columns: ['DateTimeFrom', '406vPW', '406vPW+', '406vLief', '406vLief+', '406vLief+Aufl.', '406vLW', '406vLW+', '406vSattelzug', '406vBus', '406vandere']
Key: 407n, Columns: ['DateTimeFrom', '407nPW', '407nPW+', '407nLief', '407nLief+', '407nLief+Aufl.', '407nLW', '407nLW+', '407nSattelzug', '407nBus', '407nandere']
Key: 408n, Columns: ['DateTimeFrom', '408nPW', '408nPW+', '408nLief', '408nLief+', '408nLief+Aufl.', '408nLW', '408nLW+', '408nSattelzug', '408nBus', '408nandere']
Key: 409n, Columns: ['DateTimeFrom', '409nPW', '409nPW+', '409nLief', '409nLief+', '409nLief+Aufl.', '409nLW', '409nLW+', '409nSattelzug', '409nBus', '409nandere']
Key: 409v, Columns: ['DateTimeFrom', '409vPW', '409vPW+', '409vLief', '409vLief+', '409vLief+Aufl.', '409vLW', '409vLW+', '409vSattelzug', '409vBus', '409vandere']
Key: 410v, Columns: ['DateTimeFrom', '410vPW', '410vPW+', '410vLief', '410vLief+', '410vLief+Aufl.', '410vLW', '410vLW+', '410vSattelzug', '410vBus', '410vandere']
Key: 410n, Columns: ['DateTimeFrom', '410nPW', '410nPW+', '410nLief', '410nLief+', '410nLief+Aufl.', '410nLW', '410nLW+', '410nSattelzug', '410nBus', '410nandere']
Key: 411n, Columns: ['DateTimeFrom', '411nPW', '411nPW+', '411nLief', '411nLief+', '411nLief+Aufl.', '411nLW', '411nLW+', '411nSattelzug', '411nBus', '411nandere']
Key: 411v, Columns: ['DateTimeFrom', '411vPW', '411vPW+', '411vLief', '411vLief+', '411vLief+Aufl.', '411vLW', '411vLW+', '411vSattelzug', '411vBus', '411vandere']
Key: 412v, Columns: ['DateTimeFrom', '412vPW', '412vPW+', '412vLief', '412vLief+', '412vLief+Aufl.', '412vLW', '412vLW+', '412vSattelzug', '412vBus', '412vandere']
Key: 413n, Columns: ['DateTimeFrom', '413nPW', '413nPW+', '413nLief', '413nLief+', '413nLief+Aufl.', '413nLW', '413nLW+', '413nSattelzug', '413nBus', '413nandere']
Key: 415v, Columns: ['DateTimeFrom', '415vPW', '415vPW+', '415vLief', '415vLief+', '415vLief+Aufl.', '415vLW', '415vLW+', '415vSattelzug', '415vBus', '415vandere']
Key: 415n, Columns: ['DateTimeFrom', '415nPW', '415nPW+', '415nLief', '415nLief+', '415nLief+Aufl.', '415nLW', '415nLW+', '415nSattelzug', '415nBus', '415nandere']
Key: 417n, Columns: ['DateTimeFrom', '417nPW', '417nPW+', '417nLief', '417nLief+', '417nLief+Aufl.', '417nLW', '417nLW+', '417nSattelzug', '417nBus', '417nandere']
Key: 419v, Columns: ['DateTimeFrom', '419vPW', '419vPW+', '419vLief', '419vLief+', '419vLief+Aufl.', '419vLW', '419vLW+', '419vSattelzug', '419vBus', '419vandere']
Key: 419n, Columns: ['DateTimeFrom', '419nPW', '419nPW+', '419nLief', '419nLief+', '419nLief+Aufl.', '419nLW', '419nLW+', '419nSattelzug', '419nBus', '419nandere']
Key: 420n, Columns: ['DateTimeFrom', '420nPW', '420nPW+', '420nLief', '420nLief+', '420nLief+Aufl.', '420nLW', '420nLW+', '420nSattelzug', '420nBus', '420nandere']
Key: 420v, Columns: ['DateTimeFrom', '420vPW', '420vPW+', '420vLief', '420vLief+', '420vLief+Aufl.', '420vLW', '420vLW+', '420vSattelzug', '420vBus', '420vandere']
Key: 653v, Columns: ['DateTimeFrom', '653vPW', '653vPW+', '653vLief', '653vLief+', '653vLief+Aufl.', '653vLW', '653vLW+', '653vSattelzug', '653vBus', '653vandere']
Key: 653n, Columns: ['DateTimeFrom', '653nPW', '653nPW+', '653nLief', '653nLief+', '653nLief+Aufl.', '653nLW', '653nLW+', '653nSattelzug', '653nBus', '653nandere']
Key: 656v, Columns: ['DateTimeFrom', '656vPW', '656vPW+', '656vLief', '656vLief+', '656vLief+Aufl.', '656vLW', '656vLW+', '656vSattelzug', '656vBus', '656vandere']
Key: 659v, Columns: ['DateTimeFrom', '659vPW', '659vPW+', '659vLief', '659vLief+', '659vLief+Aufl.', '659vLW', '659vLW+', '659vSattelzug', '659vBus', '659vandere']
Key: 659n, Columns: ['DateTimeFrom', '659nPW', '659nPW+', '659nLief', '659nLief+', '659nLief+Aufl.', '659nLW', '659nLW+', '659nSattelzug', '659nBus', '659nandere']
Key: 660v, Columns: ['DateTimeFrom', '660vPW', '660vPW+', '660vLief', '660vLief+', '660vLief+Aufl.', '660vLW', '660vLW+', '660vSattelzug', '660vBus', '660vandere']
Key: 660n, Columns: ['DateTimeFrom', '660nPW', '660nPW+', '660nLief', '660nLief+', '660nLief+Aufl.', '660nLW', '660nLW+', '660nSattelzug', '660nBus', '660nandere']
Key: 84111104n, Columns: ['DateTimeFrom', '84111104nPW', '84111104nPW+', '84111104nLief', '84111104nLief+', '84111104nLief+Aufl.', '84111104nLW', '84111104nLW+', '84111104nSattelzug', '84111104nBus', '84111104nandere']
Key: 84111104v, Columns: ['DateTimeFrom', '84111104vPW', '84111104vPW+', '84111104vLief', '84111104vLief+', '84111104vLief+Aufl.', '84111104vLW', '84111104vLW+', '84111104vSattelzug', '84111104vBus', '84111104vandere']
Key: 84111108n, Columns: ['DateTimeFrom', '84111108nPW', '84111108nPW+', '84111108nLief', '84111108nLief+', '84111108nLief+Aufl.', '84111108nLW', '84111108nLW+', '84111108nSattelzug', '84111108nBus', '84111108nandere']
Key: 84111108v, Columns: ['DateTimeFrom', '84111108vPW', '84111108vPW+', '84111108vLief', '84111108vLief+', '84111108vLief+Aufl.', '84111108vLW', '84111108vLW+', '84111108vSattelzug', '84111108vBus', '84111108vandere']

In [18]:
# Function to reduce the number of columns and keep the site code in front of the new column names
def reduce_columns(df, key):
    df[f'{key}_sumPW'] = df[f'{key}PW'] + df[f'{key}PW+']
    df[f'{key}_sumLief'] = df[f'{key}Lief'] + df[f'{key}Lief+'] + df[f'{key}Lief+Aufl.']
    df[f'{key}_sumLW'] = df[f'{key}LW'] + df[f'{key}LW+'] + df[f'{key}Sattelzug'] + df[f'{key}Bus'] + df[f'{key}andere']
    return df[['DateTimeFrom', f'{key}_sumPW', f'{key}_sumLief', f'{key}_sumLW']]

# Apply the function to each DataFrame in the updated_dfs_by_direction dictionary
for key, df in updated_dfs_by_direction.items():
    updated_dfs_by_direction[key] = reduce_columns(df, key)

# Display the column names of each DataFrame to verify
for key, df in updated_dfs_by_direction.items():
    print(f"Key: {key}, Columns: {df.columns.tolist()}")

Key: 350n, Columns: ['DateTimeFrom', '350n_sumPW', '350n_sumLief', '350n_sumLW']
Key: 350v, Columns: ['DateTimeFrom', '350v_sumPW', '350v_sumLief', '350v_sumLW']
Key: 352n, Columns: ['DateTimeFrom', '352n_sumPW', '352n_sumLief', '352n_sumLW']
Key: 352v, Columns: ['DateTimeFrom', '352v_sumPW', '352v_sumLief', '352v_sumLW']
Key: 354n, Columns: ['DateTimeFrom', '354n_sumPW', '354n_sumLief', '354n_sumLW']
Key: 354v, Columns: ['DateTimeFrom', '354v_sumPW', '354v_sumLief', '354v_sumLW']
Key: 402v, Columns: ['DateTimeFrom', '402v_sumPW', '402v_sumLief', '402v_sumLW']
Key: 402n, Columns: ['DateTimeFrom', '402n_sumPW', '402n_sumLief', '402n_sumLW']
Key: 403n, Columns: ['DateTimeFrom', '403n_sumPW', '403n_sumLief', '403n_sumLW']
Key: 403v, Columns: ['DateTimeFrom', '403v_sumPW', '403v_sumLief', '403v_sumLW']
Key: 405n, Columns: ['DateTimeFrom', '405n_sumPW', '405n_sumLief', '405n_sumLW']
Key: 405v, Columns: ['DateTimeFrom', '405v_sumPW', '405v_sumLief', '405v_sumLW']
Key: 406n, Columns: ['DateTimeFrom', '406n_sumPW', '406n_sumLief', '406n_sumLW']
Key: 406v, Columns: ['DateTimeFrom', '406v_sumPW', '406v_sumLief', '406v_sumLW']
Key: 407n, Columns: ['DateTimeFrom', '407n_sumPW', '407n_sumLief', '407n_sumLW']
Key: 408n, Columns: ['DateTimeFrom', '408n_sumPW', '408n_sumLief', '408n_sumLW']
Key: 409n, Columns: ['DateTimeFrom', '409n_sumPW', '409n_sumLief', '409n_sumLW']
Key: 409v, Columns: ['DateTimeFrom', '409v_sumPW', '409v_sumLief', '409v_sumLW']
Key: 410v, Columns: ['DateTimeFrom', '410v_sumPW', '410v_sumLief', '410v_sumLW']
Key: 410n, Columns: ['DateTimeFrom', '410n_sumPW', '410n_sumLief', '410n_sumLW']
Key: 411n, Columns: ['DateTimeFrom', '411n_sumPW', '411n_sumLief', '411n_sumLW']
Key: 411v, Columns: ['DateTimeFrom', '411v_sumPW', '411v_sumLief', '411v_sumLW']
Key: 412v, Columns: ['DateTimeFrom', '412v_sumPW', '412v_sumLief', '412v_sumLW']
Key: 413n, Columns: ['DateTimeFrom', '413n_sumPW', '413n_sumLief', '413n_sumLW']
Key: 415v, Columns: ['DateTimeFrom', '415v_sumPW', '415v_sumLief', '415v_sumLW']
Key: 415n, Columns: ['DateTimeFrom', '415n_sumPW', '415n_sumLief', '415n_sumLW']
Key: 417n, Columns: ['DateTimeFrom', '417n_sumPW', '417n_sumLief', '417n_sumLW']
Key: 419v, Columns: ['DateTimeFrom', '419v_sumPW', '419v_sumLief', '419v_sumLW']
Key: 419n, Columns: ['DateTimeFrom', '419n_sumPW', '419n_sumLief', '419n_sumLW']
Key: 420n, Columns: ['DateTimeFrom', '420n_sumPW', '420n_sumLief', '420n_sumLW']
Key: 420v, Columns: ['DateTimeFrom', '420v_sumPW', '420v_sumLief', '420v_sumLW']
Key: 653v, Columns: ['DateTimeFrom', '653v_sumPW', '653v_sumLief', '653v_sumLW']
Key: 653n, Columns: ['DateTimeFrom', '653n_sumPW', '653n_sumLief', '653n_sumLW']
Key: 656v, Columns: ['DateTimeFrom', '656v_sumPW', '656v_sumLief', '656v_sumLW']
Key: 659v, Columns: ['DateTimeFrom', '659v_sumPW', '659v_sumLief', '659v_sumLW']
Key: 659n, Columns: ['DateTimeFrom', '659n_sumPW', '659n_sumLief', '659n_sumLW']
Key: 660v, Columns: ['DateTimeFrom', '660v_sumPW', '660v_sumLief', '660v_sumLW']
Key: 660n, Columns: ['DateTimeFrom', '660n_sumPW', '660n_sumLief', '660n_sumLW']
Key: 84111104n, Columns: ['DateTimeFrom', '84111104n_sumPW', '84111104n_sumLief', '84111104n_sumLW']
Key: 84111104v, Columns: ['DateTimeFrom', '84111104v_sumPW', '84111104v_sumLief', '84111104v_sumLW']
Key: 84111108n, Columns: ['DateTimeFrom', '84111108n_sumPW', '84111108n_sumLief', '84111108n_sumLW']
Key: 84111108v, Columns: ['DateTimeFrom', '84111108v_sumPW', '84111108v_sumLief', '84111108v_sumLW']

In [19]:
# Find the latest common end time for all dataframes
latest_common_end_time = min(df['DateTimeFrom'].max() for df in updated_dfs_by_direction.values())

# Filter each dataframe to include only rows up to the latest common end time
filtered_dfs = {key: df[df['DateTimeFrom'] <= latest_common_end_time] for key, df in updated_dfs_by_direction.items()}

# Merge all datasets on 'DateTimeFrom'
merged_df = pd.concat([df.set_index('DateTimeFrom') for df in filtered_dfs.values()], axis=1).reset_index()

# Display the merged DataFrame
print(merged_df.head())

# Display the size of the merged DataFrame
print(f"Size of the merged DataFrame: {merged_df.size}")

# Display the number of columns and rows of the merged DataFrame
print(f"Number of columns: {merged_df.shape[1]}")
print(f"Number of rows: {merged_df.shape[0]}")

               DateTimeFrom  350n_sumPW  350n_sumLief  350n_sumLW  350v_sumPW  \
0 2021-12-31 23:00:00+00:00       241.0           5.0         0.0       169.0
1 2022-01-01 00:00:00+00:00       218.0           4.0         1.0       202.0
2 2022-01-01 01:00:00+00:00       157.0           6.0         0.0       159.0
3 2022-01-01 02:00:00+00:00       109.0           4.0         0.0       135.0
4 2022-01-01 03:00:00+00:00        96.0           7.0         0.0        73.0

   350v_sumLief  350v_sumLW  352n_sumPW  352n_sumLief  352n_sumLW  ...  \
0          15.0         2.0       206.0           9.0         7.0  ...
1          24.0         3.0       182.0           8.0         1.0  ...
2          23.0         2.0       158.0           5.0         1.0  ...
3          11.0         3.0       116.0           7.0         0.0  ...
4          10.0         2.0        90.0           3.0         0.0  ...

   84111104n_sumLW  84111104v_sumPW  84111104v_sumLief  84111104v_sumLW  \
0              4.0              0.0               52.0              3.0
1              4.0              0.0               55.0              4.0
2              3.0              0.0               35.0              1.0
3              1.0              0.0               30.0              1.0
4              2.0              0.0               21.0              1.0

   84111108n_sumPW  84111108n_sumLief  84111108n_sumLW  84111108v_sumPW  \
0             42.0                2.0              0.0             30.0
1             65.0                2.0              0.0             64.0
2             35.0                0.0              0.0             38.0
3             37.0                2.0              0.0             37.0
4             25.0                2.0              0.0             21.0

   84111108v_sumLief  84111108v_sumLW
0                1.0              1.0
1                3.0              0.0
2                0.0              0.0
3                3.0              0.0
4                3.0              0.0

[5 rows x 127 columns]
Size of the merged DataFrame: 3121025
Number of columns: 127
Number of rows: 24575

In [20]:
# Export the merged DataFrame to a CSV file
merged_df.to_csv('1000006cleaned.csv', index=False)

In [21]:
# Function to check for missing timespans
def check_missing_timespans(df, full_timespan):
    missing_times = full_timespan.difference(df['DateTimeFrom'])
    return missing_times

# Check for missing timespans in each DataFrame
for key, df in updated_dfs_by_direction.items():
    full_timespan = pd.date_range(start=df['DateTimeFrom'].min(), end=df['DateTimeFrom'].max(), freq='h', tz='UTC')
    missing_times = check_missing_timespans(df, full_timespan)
    print(f"Key: {key}")
    if missing_times.empty:
        print("All timeslots are filled.")
    else:
        print(f"Missing timeslots: {missing_times}")
    print(f"Number of missing timeslots: {len(missing_times)}")
    print("\n")

Key: 350n
All timeslots are filled.
Number of missing timeslots: 0


Key: 350v
All timeslots are filled.
Number of missing timeslots: 0


Key: 352n
All timeslots are filled.
Number of missing timeslots: 0


Key: 352v
All timeslots are filled.
Number of missing timeslots: 0


Key: 354n
All timeslots are filled.
Number of missing timeslots: 0


Key: 354v
All timeslots are filled.
Number of missing timeslots: 0


Key: 402v
All timeslots are filled.
Number of missing timeslots: 0


Key: 402n
All timeslots are filled.
Number of missing timeslots: 0


Key: 403n
All timeslots are filled.
Number of missing timeslots: 0


Key: 403v
All timeslots are filled.
Number of missing timeslots: 0


Key: 405n
All timeslots are filled.
Number of missing timeslots: 0


Key: 405v
All timeslots are filled.
Number of missing timeslots: 0


Key: 406n
All timeslots are filled.
Number of missing timeslots: 0


Key: 406v
All timeslots are filled.
Number of missing timeslots: 0


Key: 407n
All timeslots are filled.
Number of missing timeslots: 0


Key: 408n
All timeslots are filled.
Number of missing timeslots: 0


Key: 409n
All timeslots are filled.
Number of missing timeslots: 0


Key: 409v
All timeslots are filled.
Number of missing timeslots: 0


Key: 410v
All timeslots are filled.
Number of missing timeslots: 0


Key: 410n
All timeslots are filled.
Number of missing timeslots: 0


Key: 411n
All timeslots are filled.
Number of missing timeslots: 0


Key: 411v
All timeslots are filled.
Number of missing timeslots: 0


Key: 412v
All timeslots are filled.
Number of missing timeslots: 0


Key: 413n
All timeslots are filled.
Number of missing timeslots: 0


Key: 415v
All timeslots are filled.
Number of missing timeslots: 0


Key: 415n
All timeslots are filled.
Number of missing timeslots: 0


Key: 417n
All timeslots are filled.
Number of missing timeslots: 0


Key: 419v
All timeslots are filled.
Number of missing timeslots: 0


Key: 419n
All timeslots are filled.
Number of missing timeslots: 0


Key: 420n
All timeslots are filled.
Number of missing timeslots: 0


Key: 420v
All timeslots are filled.
Number of missing timeslots: 0


Key: 653v
All timeslots are filled.
Number of missing timeslots: 0


Key: 653n
All timeslots are filled.
Number of missing timeslots: 0


Key: 656v
All timeslots are filled.
Number of missing timeslots: 0


Key: 659v
All timeslots are filled.
Number of missing timeslots: 0


Key: 659n
All timeslots are filled.
Number of missing timeslots: 0


Key: 660v
All timeslots are filled.
Number of missing timeslots: 0


Key: 660n
All timeslots are filled.
Number of missing timeslots: 0


Key: 84111104n
All timeslots are filled.
Number of missing timeslots: 0


Key: 84111104v
All timeslots are filled.
Number of missing timeslots: 0


Key: 84111108n
All timeslots are filled.
Number of missing timeslots: 0


Key: 84111108v
All timeslots are filled.
Number of missing timeslots: 0